# SIGVOS — Configuración de entorno
# Copia este archivo como .env y ajusta los valores
# NUNCA subas el .env real a Git

DB_HOST=127.0.0.1
DB_PORT=3320
DB_NAME=agro_db
DB_USER=root
DB_PASS=

APP_ENV=development
APP_DEBUG=true
